/* for index.html */
body {
    background-image: url("../assets/images/todo1.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.form-label {
    color: white;
}

.container {
    background-color: transparent;
}

.left-side, .right-side {
    padding: 20px;
}

.left-side {
    border-right: 1px solid #ddd;
}


@media (min-width: 768px) {
    .container {
        display: flex;
        justify-content: space-between;
    }

    .left-side, .right-side {
        flex: 1;
        margin: 10px;
    }

    .left-side {
        max-width: 50%;
    }

    .right-side {
        max-width: 50%;
    }
}


.right-side {
    background-color: rgba(255, 255, 255, 0.1);
    color: white; /* Text color */
    padding: 20px;
    border-radius: 10px;
}

.right-side ul {
    list-style-type: none;
    padding: 0;
}

.right-side li {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: white;
}


button.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}

button.btn-primary:hover {
    background-color: #0056b3;
    border-color: #00408d;
}
